[features]
resolution = true
skip-lint = false

[programs.localnet]
match_escrow = "3483xDBJewW1qERNjMrQuvgoFj2utKgZGFWrKBgCiHKS"

[programs.devnet]
match_escrow = "3483xDBJewW1qERNjMrQuvgoFj2utKgZGFWrKBgCiHKS"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "bun run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[workspace]
members = ["programs/match-escrow"]
